.ss-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  float: left;
}

.ss-content {
  height: 100%;
  width: calc(100% + 18px);
  padding: 0 0 0 0;
  position: relative;
  overflow-x: auto;
  overflow-y: scroll;
  box-sizing: border-box;
}

.ss-content.rtl {
  width: calc(100% + 18px);
  right: auto;
}

.ss-scroll {
  position: absolute;
  background: rgb(117 90 172);
  width: 9px;
  border-radius: 4px;
  top: 0;
  z-index: 99999;
  cursor: pointer;
  opacity: 1 !important;
  transition: opacity 0.25s linear;
  right: 50px !important;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .ss-scroll {
    right: 20px !important;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  .ss-scroll {
    right: 25px !important;
    width: 6px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .ss-scroll {
    right: 25px !important;
    width: 4px;
  }
}

@media screen and (max-width: 320px) {
  .ss-scroll {
    right: 25px !important;
    width: 4px;
  }
}

.ss-hidden {
  display: none;
}

.ss-container:hover .ss-scroll,
.ss-container:active .ss-scroll {
  opacity: 1;
}

.ss-grabbed {
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}