* {
  margin: 0;
  padding: 0;
}

body { 
  color: #666; 
  font-family: sans-serif; 
  line-height: 1.4;
  box-sizing: border-box;
}

h1 { 
  color: #fff; 
  font-size: 1.2em; 
  padding-bottom: 20px;
  margin: 0px;
  text-transform: uppercase;
}

a { 
  color: #fff; 
  text-decoration: none; 
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
}

.player__flex {
  display: flex;
  width: 65vw;
  height: 75vh;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #1c1f30;
  border-radius: 20px;
  position: relative;
  padding-bottom: 30px;
}

.img__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 500px;
  height: 100%;
  margin-left: 30px;
  position: relative;
}

.player__img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.track__name {
  position: absolute;
  left: 30px;
  top: 40px;
  width: 100%;
  color: #fed242;
}

#wrapper {
  width: 60%;
  height: 500px;
  margin-left: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
      
ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0px; 
  margin: 0px; 
  list-style: decimal inside;
  color: #fff; 
  width: 100%;
  height: 100%;
  font-size: 0.9em;
  margin-right: 50px;
  overflow: hidden;
}

ol li {
  width: 100%;
  position: relative; 
  margin: 0px; 
  padding: 9px 0px 10px;
}

.stem__box {
  display: none;
  margin-top: 15px;
  text-align: left;
}

.stem {
  display: none;
  margin-top: 10px;
  list-style: none;
}

.stem1 {
  opacity: 1;
  display: list-item;
}

.stem__song {
  display: block;
  padding-left: 26px;
  color: #fff;
}

.ss-scroll {
  z-index: 99999;
  right: 0 !important;
  background: rgb(117 90 172);
  opacity: 1 !important;
}

ol li:first-child {
  padding-top: 0;
}

ol li:last-child {
  border: none;
}

ol li a { 
  display: inline; 
  padding: 0px 0px 0px 10px;
  margin-top: -20px;
}

li.playing { 
  color: #fed242; 
}

li.playing a { 
  color: #fed242; 
}
      
#shortcuts { 
  position: absolute; 
  top: 0px; 
  width: 100%; 
  color: #666; 
  font-size: 0.9em;
  padding: 20px; 
  background: #1c1f30;  
}

#shortcuts div { 
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#shortcuts em {
  color: #000;
}

#shortcuts h1 { 
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

#shortcuts p { 
  margin: 0;
  margin-right: 30px;
  color: #fff;
}

#shortcuts em { 
  font-style: normal; 
  background: #d3d3d3; 
  padding: 3px 9px; 
  position: relative; 
  left: -3px;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  -o-border-radius: 4px; 
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
}

.audiojs {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 99;
  background-image: none;
  background: transparent;
  box-shadow: none;
}

input[type=range] {
  -webkit-appearance: none;
  width: 150px; 
  background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 150px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6px;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 16px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 16px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: rgb(117 90 172);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
  position: relative;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(117 90 172);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: rgb(117 90 172);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgb(117 90 172);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgb(117 90 172);
}
input[type=range]::-ms-fill-upper {
  background: rgb(117 90 172);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: rgb(117 90 172);
}

.audiojs .time {
  padding: 0px 6px 0px 36px;
}

.audiojs .time em {
  margin-right: 6px;
  padding-right: 6px;
  border-right: 1px solid #fff;
}

.audiojs .play-pause {
  width: 25px;
  margin-left: 70px;
  border: none;
}

.audiojs .loaded {
  background-image: none;
  background: #fff;
}

.audiojs .progress {
  background-image: none;
  background: rgba(117, 90, 172, 1)
}

.audiojs .previos__song {
  display: block;
  position: absolute;
  left: 30px;
  bottom: 13px;
  width: 12px;
  height: 12px;
}

.audiojs .next__song {
  display: block;
  position: absolute;
  left: 135px;
  bottom: 13px;
  width: 12px;
  height: 12px;
}

.audiojs .time {
  border-left: none;
}

.audiojs .scrubber {
  margin-left: 90px;
}

.audiojs .scrubber {
  width: 640px;
}

#jcp-volume {
  position: absolute;
  right: 50px;
  bottom: 15px;
}

#jcp-volume::before {
  position: absolute;
  display: block;
  content: '';
  left: -20px;
  top: -3px;
  width: 12px;
  height: 12px;
  background: url('../img/sound.png') no-repeat center center;
  background-size: cover;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .player__flex {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    border-radius: 0px;
  }
  .track__name {
    top: 140px;
  }
  #wrapper {
    margin-left: 20px;
  }
  #shortcuts {
    width: 97%;
  }
  .audiojs {
    bottom: 20px;
  }
  .audiojs .time {
    padding-left: 10px;
  }
  .audiojs .scrubber {
    width: 240px;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  .player {
    overflow-x: hidden;
  }
  .player__flex {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    border-radius: 0px;
  }
  .img__container {
    width: 100%;
    height: 368px;
    margin-left: 0;
    margin-top: 40px;
  }
  .player__img {
    width: 92%;
    height: 100%;
    margin: 0 auto;
  }
  .track__name {
    display: inline-block;
    left: 18px;
    width: 90%;
    padding-bottom: 0;
    top: 430px;
    z-index: 9999;
  }
  #wrapper {
    width: 100%;
    margin-top: 110px;
    margin-left: 0;
    padding-left: 40px;
    margin-bottom: 60px;
  }
  ol {
    margin-right: 40px;
  }
  ol li {
    width: 95%;
  }
  .stem__song {
    padding-left: 0px;
  }
  ol li a {
    padding: 0;
  }
  #shortcuts {
    display: none;
  }
  .audiojs {
    bottom: 0px;
    background: rgba(0,0,0,.9);
    position: fixed;
    border-radius: 0px;
    padding-bottom: 50px;
  }
  .audiojs .time {
    padding: 0;
    margin: 0;
    width: 92%;
    display: flex;
    justify-content: space-between;
    margin-left: 17px;
  }
  .audiojs .time em {
    margin: 0;
    padding: 0;
    border: none;
  }
  .audiojs .play-pause {
    height: 20px;
    margin-top: 10px;
    margin-left: 60px;
  }
  .audiojs .next__song {
    bottom: 63px;
    left: 125px;
  }
  .audiojs .previos__song {
    bottom: 63px;
    left: 18px;
  }
  .audiojs .scrubber {
    width: 92%;
    z-index: 99999;
    margin: 0 auto;
    float: none;
  }
  .audiojs .next__song {
    bottom: 63px;
    left: 125px;
  }
  #jcp-volume {
    right: 16px;
    bottom: 65px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .player {
    overflow-x: hidden;
  }
  .player__flex {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    border-radius: 0px;
  }
  .img__container {
    width: 100%;
    height: 333.5px;
    margin-left: 0;
    margin-top: 40px;
  }
  .player__img {
    width: 91%;
    height: 100%;
    margin: 0 auto;
  }
  .track__name {
    display: inline-block;
    left: 18px;
    width: 90%;
    padding-bottom: 0;
    top: 400px;
    z-index: 9999;
  }
  #wrapper {
    width: 100%;
    margin-top: 120px;
    margin-left: 0;
    padding-left: 40px;
    margin-bottom: 60px;
  }
  ol {
    margin-right: 40px;
  }
  ol li {
    width: 95%;
  }
  .stem__song {
    padding-left: 0px;
  }
  ol li a {
    padding: 0;
  }
  #shortcuts {
    display: none;
  }
  .audiojs {
    bottom: 0px;
    background: rgba(0,0,0,.9);
    position: fixed;
    border-radius: 0px;
    padding-bottom: 50px;
  }
  .audiojs .time {
    padding: 0;
    margin: 0;
    width: 91%;
    display: flex;
    justify-content: space-between;
    margin-left: 17px;
  }
  .audiojs .time em {
    margin: 0;
    padding: 0;
    border: none;
  }
  .audiojs .play-pause {
    height: 20px;
    margin-top: 10px;
    margin-left: 60px;
  }
  .audiojs .previos__song {
    bottom: 63px;
    left: 18px;
  }
  .audiojs .next__song {
    bottom: 63px;
    left: 135px;
  }
  .audiojs .scrubber {
    width: 91%;
    z-index: 99999;
    margin: 0 auto;
    float: none;
  }
  #jcp-volume {
    right: 18px;
    bottom: 65px;
  }
}

@media screen and (max-width: 320px) {
  .player {
    overflow-x: hidden;
  }
  .player__flex {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    border-radius: 0px;
  }
  .img__container {
    width: 100%;
    height: 50%;
    margin-left: 0;
    margin-top: 40px;
  }
  .player__img {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  .track__name {
    display: inline-block;
    left: 18px;
    width: 90%;
    padding-bottom: 0;
    top: 350px;
    z-index: 9999;
  }
  #wrapper {
    width: 100%;
    margin-top: 120px;
    margin-left: 0;
    padding-left: 40px;
    margin-bottom: 60px;
  }
  ol {
    margin-right: 40px;
  }
  ol li {
    width: 95%;
  }
  .stem__song {
    padding-left: 0px;
  }
  ol li a {
    padding: 0;
  }
  #shortcuts {
    display: none;
  }
  .audiojs {
    bottom: 0px;
    background: rgba(0,0,0,.9);
    position: fixed;
    border-radius: 0px;
    padding-bottom: 50px;
  }
  .audiojs .time {
    padding: 0;
    margin: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
  }
  .audiojs .time em {
    margin: 0;
    padding: 0;
    border: none;
  }
  .audiojs .play-pause {
    height: 20px;
    margin-top: 10px;
    margin-left: 60px;
  }
  .audiojs .previos__song {
    bottom: 63px;
    left: 18px;
  }
  .audiojs .next__song {
    bottom: 63px;
    left: 125px;
  }
  .audiojs .scrubber {
    width: 90%;
    z-index: 99999;
    margin: 0 auto;
    float: none;
  }
  #jcp-volume {
    width: 120px;
    right: 16px;
    bottom: 65px;
  }
}